main {
    display: flex;
    flex-wrap: wrap;
    background-color: #212121;
    flex-grow: 1;
}

#vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    background-color: white;
    margin: 0;
    width: 12%;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none;
    position: fixed;
    padding-left: 0;
    background-color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 7%;
    top: 56px;
    z-index: 1;
}
